@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}
.slick-dots li button {
  background-color: #46a358 !important;
  opacity: 30%;
}
.slick-active button {
  background-color: #46a358 !important;
}
.ant-slider-track {
  border: 3px solid #46a358;
}
.ant-slider-handle {
  ::after {
    box-shadow: none;
    background-color: #46a358;
    border-radius: 50%;
  }
}
.main_card.ant-skeleton.ant-skeleton-element .ant-skeleton-image {
  width: 300px;
  height: 200px;
}
